
html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

p{
  text-align: center;
}

button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-white-transparent-round {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
  border-radius: 25px;
}

.tm-brand-container {
  padding: 75px 110px;
  border-radius: 25px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
  text-align: center;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #986665;
}

.img-center {
  margin-top: 45px;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-title {
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-text-white {
  color: white;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.socials {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  padding: 100px;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #676767;
}
.wrapper .button:hover .icon{
  background: #4267B2;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button span{
  color: #4267B2;
}

#tmFeedbackForm {
  width: 100%;
  max-width: 680px;
  padding: 45px;
  margin: auto;
  margin-bottom: 100px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-link {
  color: #676767;
}